* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



html{
    height: 100%;
   
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;

}


header {
    padding: 20px;
    height: 80px;
    margin: auto;
    border-bottom: solid 1.5px rgba(128, 128, 128, 0.575);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999px;
    background-color:  rgb(156, 155, 155);
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 980px;

}

.left-nav {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;

}

.btn {
    width: 30%;
    display: flex;
    justify-content: end;
    align-items: center;

}

.links-text {
    text-decoration: none;
    color: black;


}

i {
    padding-left: 5px;
    width: 10;
    height: 14;
}


.links-btn {
    width: 20px;
    height: 20px;

}

.btn-topnav {
    background: none;
    border: 1px solid black;
    padding: 5px;
    
}

a {
    padding-left: 15px;
    color: rgb(199, 145, 30);

}

.name-logo {
    font-size: 40px;
}

.container-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 841px;
    margin: auto;
    padding-top: 25px;
    justify-content: center;
    
    
    
}



.title1{
    text-align: center;
    padding-top: 95px;
    font-weight: 100;
    font-size: 20px;
}



.short {
    width: 200px;
    height: 200px;
    margin: 10px 10px;
    overflow:hidden ;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(179, 175, 169, 0.473);
    
   
    
    

}

.short:hover{
    
    cursor: pointer;
   filter: saturate(180%);
   -webkit-transform:scale(1.1);transform:scale(1.1);
   
    
    
}

.container-img-hover{
    overflow: hidden;
    padding-bottom: 20px;
   
}

.arrow {
    padding-left: 5px;
    width: 15px;
    height: 11px;

}

.search-verticalnav {
    display: none;
}

.closeBtn {
    display: none;
}

.openBtn {
    display: none;
}

.two {

    display: none;
}

.text-img{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    font-weight: 500;
    

}

.footer{
    background-color: rgba(3, 3, 3, 0.493);
    width: 100%; 
    height: 200px;
    margin-top: auto;
   
   
   
}


.footer-links a{
    text-decoration: none;
    color: rgb(255, 252, 246); 
    font-size: 20px;
    padding: 12px;
}

.footer-links img{
    width: 30px;
    height: 30px;
}

.footer-links{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%; 
  height: 200px;
 
   
}

.detail{
    justify-content: center;
    display:flex ;
    margin-top: auto;
    padding: 100px;
    height: 500px;
   

   
    
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid 1px rgba(0, 0, 0, 0.541);
    padding: 5px;
    min-width: 500px;
    justify-content: space-around;
    
    
  
    
    
    
   
}

.detail-text{
    display: flex;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    gap: 10px;
    background-color: rgb(241, 240, 239);
    width: 50%;
}


 .container img{
    align-self: center;
   
 }

 .container button{
     cursor: pointer;
    background-color: black;
    color: beige;
    padding: 5px;
 }
.container h2{
    font-weight: 100;
    color: rgb(58, 55, 55);
}

