<header>
    <nav class="navbar">
        <div class="left-nav">
            <div class="links ">
                <div class="search-verticalnav">
                    <button class="search-btn-v"><img class="vertical-btn" src="/img/icons8-search-30.png"></button>
                    <input class="search-input-v" type="text">
                    <button class="user-btn-v"><img class="vertical-btn" src="/img/icons8-user-30.png"></button>
                </div>
                <a href="/products" class="links-text">Todos los productos</a>
                <a href="/products/form" class="links-text">Crear</a>
                <button class="closeBtn "><img src="/img/icons8-macos-close-30.png"></button>
            </div>

            <button class="openBtn"><img class="open-btn-img" src="/img/icons8-menu-squared-50.png"></button>
            <div class="logo">
                <a class="name-logo">Darling</a>
            </div>
            <a href=""><img class="links-btn vertical-cart two" src="/img/icons8-shopping-cart-24.png"></a>
        </div>
        <div class="btn">
            <a href=""><img class="links-btn vertical" src="/img/icons8-user-30.png"></a>
            <a href=""><img class="links-btn vertical" src="/img/icons8-search-30.png"></a>
            <a><button class="btn-topnav vertical">Contact</button></a>
            <a href=""><img class="links-btn vertical-cart" src="/img/icons8-shopping-cart-24.png"></a>
        </div>
    </nav>
</header>